/*-----------Globel Classes----------*/

.section-title {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 60px;
    color: #64485C !important;
    font-size: 44px;
    border-bottom: none !important;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.section-title .border-line {
    position: relative;
    display: block;
    top: 10px;
    height: 30px;
    width: 250px;
    margin: 0 auto;
    background: transparent;
}

.section-title .border-line:before {
    content: '';
    width: 98px;
    height: 6px;
    background-color: #64485C !important;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.section-title .border-line .border-box {
    position: absolute;
    top: 0;
    left: 44%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 5px solid #64485C !important;
    transform: rotate(45deg);
}

.section-title .border-line:after {
    content: '';
    width: 98px;
    height: 6px;
    background-color: #64485C !important;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/*---------------------------HEADER TOP------------------------------*/

.header-top{
    background-color: #64485C;
    color: #333333;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.navigation-bar .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px;
}

.navigation-bar  .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.75);
}

.navigation-bar  .search-container {
    position: relative;
    border-radius: 4px;
}

.navigation-bar  .search-container .search-icon {
    position: absolute;
    left: 13px;
    top: 10px;
    width: 20px;
    color: #fff;
    z-index: 0;
}

.navigation-bar  .searchform #s:focus {
    width: 150px;
    padding-right: 5px;
}

.navigation-bar .screen-reader-text {
    display: none;
}

.navigation-bar  .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

.navigation-bar  .searchform #s {
    width: 30px;
    padding: 5px 0 5px 35px;
    transition: all 0.4s ease;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.navigation-bar  .searchform #searchsubmit {
    display: none;
}


/*---------------------------Hero Section------------------------------*/

.hero-section{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 720px;
    position: relative;
    max-width: 100%;
}

.hero-section .hero-text {
    position: absolute;
    text-align: center;
    color: #ffffff;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section .hero-text h1{
    font-size: 50px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.hero-section .hero-text p{
    font-size: 22px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/*---------------------------Services Section------------------------------*/


.services-section{
    background: #f0f0f0;
}

.services-section h2 {
    font-size: 44px;
    border-bottom: none !important;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.services-section .card-body {
    margin-bottom: .75rem;
    text-align: center;
}

.services-section .card {
    min-height: 511px;
    margin-bottom: 30px;
    border-radius: 0px;
    box-shadow: 10px 10px 20px 8px rgb(0 0 0 / 50%);
    border: 1px solid #ffffff;
}

.services-section .card img{
    padding: 20px;
}

.services-section .card-body .card-title{
    font-size: 25px;
}

.services-section .card-body .blog-text {
    font-size: 13px;
    text-align: center;
    margin-bottom: -4px;
}

.services-section .sevices-btn button{
    margin-top: 9px;
}

.services-section .sevices-btn {
    margin-bottom: 15px;
    text-align: center;
}

.services-section .btn-primary{
    border: none;
    outline: none;
    width: 150px;
    background-color: #64485C !important;
}

/*---------------------------Skill Section------------------------------*/

.skill-section .item{
    width: 80px;
    height: auto;
    margin: 0 auto;
}

.skill-section .item img{
    height: 100%;
}

.skill-section .skill-type{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}


/*---------------------------Codonist Section------------------------------*/
.codonists {
    background: #f0f0f0;
    margin-top: 70px;
    padding-bottom: 70px;
}

.codonists .card-body {
    padding: 20px 5px;
}

.codonists .card {
    text-align: center;
    margin-top: 80px;
    min-height: 386px;
}

.codonists .card img {
    margin: -25% auto 0;
    width: 200px;
    min-height: 190px !important;
    overflow: hidden;
    border-radius: 50%;
}

/*---------------------------Works Section------------------------------*/


.work-section{
    padding-bottom: 70px;
}

/* Center website */
.work-section .main {
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
}

/* Create three equal columns that floats next to each other */
.work-section .column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.work-section .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.work-section .content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.work-section .show {
  display: block;
}

/* Style the buttons */
.work-section #myBtnContainer .btn {
    font-size: 15px;
    outline: none;
    padding: 3px 10px;
    color: #ffffff;
    background-color: #2E2A3EEB !important;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
}


/* Add a dark background color to the active button */
.work-section .btn.active {
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}

.work-section .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.work-section .middle .center-text{
    font-size: 19px;
    color: white;
    white-space: nowrap;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif; 
}

.work-section .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.work-section .content:hover .middle {
  opacity: 1;
}

.work-section .nature:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------Testimonial Section------------------------------*/

 .testimonial-section{
    background-image: url(../img/testimonial.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    background-attachment: fixed;
    z-index: 999;
    padding-bottom: 50px;
}

.testimonial-section .sub-heading {
    position: relative;
    padding-top: 20px !important;
    font-size: 28px !important;
    text-align: center;
}

.testimonial-item {
    border: 1px solid #fff;
    border-bottom: none;
    padding: 40px 140px;
    position: relative;
    height: 368px;
    margin-top: 50px;
}

.testimonial-section .section-title {
    color: white !important;
}

.testimonial-carousel {
    overflow: hidden;
}

.testimonial-carousel .owl-stage {
    height: 520px;
}

.inner-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.testimonial-image {
    width: 400px;
    position: absolute;
    padding: 15px;
    bottom: -20%;
    left: 38%;
}

.testimonial-item .media {
    position: relative;
    text-align: left;
}

.testimonial-image img {
    width: 120px;
    height: 120px;
    z-index: 0;
}

.testimonial-carousel.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.testimonial-image .img_client_testimonial {
    position: relative;
    left: -49px;
}

.testimonial-item .media:before {
    content: '';
    position: absolute;
    width: 130px;
    height: 155px;
    background: #406b4000;
    z-index: 0;
    left: -38px;
    bottom: 0;
    top: -19px;
    border: 1px solid #fff;
}

.testimonial-item:after {
    content: '';
    width: 36%;
    position: absolute;
    height: 1px;
    z-index: 1;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.testimonial-item:before {
    content: '';
    width: 36%;
    position: absolute;
    height: 1px;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.inner-content .icon-left {
    position: absolute;
    justify-content: center;
    display: flex;
    width: 140px;
    height: 100%;
    left: 0;
    top: 0;
}

.inner-content .icon-left i {
    position: absolute;
    top: 45px;
    font-size: 80px;
    color: #ccc;
}

.inner-content .icon-right {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 100%;
    right: 0;
    top: 0;
}

.inner-content .icon-right i {
    position: absolute;
    bottom: 40px;
    font-size: 80px;
    transform: scaleX(-1);
    color: #ccc;
}

.media-body.mt-4 {
    position: relative;
    left: 10px;
} 

/* .owl-theme .owl-nav {

    display: none;
} */

/* .owl-theme .owl-dots {

    display: none;
} */


/*---------------------------Contact Us Section------------------------------*/

.contactus-section{
    position: relative;
}

.contactus-section iframe{
    position: absolute;
}

.contactus-section .transparent-bg {
    max-width: 65%;
    height: 100%;
    margin: 0 auto;
}

.contactus-section .layout{
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    opacity: 2;
    height: 106%;
    width: 100% !important;
    position: absolute !important;
    background-color: #0e0e0ec4 !important;

}

.contact-form{
    padding-bottom: 40px;
}

.contactus-section .title-1 {
    color: #c47eb2 !important;
    text-align: center;
    margin-top: 10PX;
}

.contactus-section .title-2 {
    color: #c47eb2 !important;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 10px;
}

.contactus-section .btn-primary {
    color: #fff;
    background-color: #0e0e0ec4 !important;
    border-color: #0e0e0ec4;
    font-size: 22px;
    font-weight: 500;
}

.contactus-section .section-title {
    color: white !important;
}

.form-group .txtfield {
    background: #fff;
    padding: 14px;
    border-radius: 4px;
}

.contactus-section .form-btn .btn {
    border-radius: 4px;
    font-size: 22px;
    background-color: #333333;
}

/*---------------------------Footer Section------------------------------*/

.footer {
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #64485c;
        color: #fff;
        position: relative;
        z-index: 999;
        margin-top: 40px;
}

.footer-text h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.widgets{
    font-size: 15px;
}

.widgets ul {
    padding: 0;
    margin: 0;
    line-height: 25px;
}

.widgets ul li {
    margin-bottom: 15px;
    list-style: none;
}

.widgets li a {
    color: #fff;
    text-decoration: none;
}

/*---------------------------Copy Right Section------------------------------*/

.copy-right{
    background-color: #181621;
    color: #fff;
}

.copy-text{
    font-size: 15px;
}

.copy-right .social-links{
    list-style: none;
    padding: 0;
    margin: 0;
}

.copy-right .social-links li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.copy-right .social-links li a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}